$I3CONFIG
#
# When changing this information, be sure you don't remove the tildes!
# Set autoconnect to 1 to automatically connect at bootup.
# This information can be edited online using 'i3 config'
autoconnect 0
thismud     Your Mud Name Here~
telnet      Your Telnet Address Here~
web         Your Web Address Here~
adminemail  Your Admin Email Here~
openstatus  Your Online Status~
mudtype     Type of Mud you run( Smaug, Rom, Merc, etc )~
basemudlib  Version of the mudtype you use( Smaug 1.4a, Rom 2.4b6, Merc2.2, etc )~
mudlib      Whatever you want to call your current code~
driver      AFKMud~
minlevel    10
adminlevel  113
#
# The router information. Currently only one.
# Information below this point cannot be edited online.
router       us-1.i3.intermud.org~
port         9000
routername   *gjs~
#
# The services provided by your mud.
# Do not turn things on unless you KNOW your mud properly supports them!
# Refer to http://www.intermud.org for public packet specifications.
tell         1
beep         1
emoteto      1
who          1
finger       1
locate       1
channel      1
news         0
mail         0
file         0
auth         0
ucache       1
#
# Port numbers for OOB services. Leave as 0 if your mud does not support these.
smtp         0
ftp          0
nntp         0
http         0
pop3         0
rcp          0
amrcp        0
end
$END
